.bannerportal-studentpng-icon {
  height: 58px;
  width: 58px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 58px;
}
.paperwork-management-system,
.uum-school-of {
  margin: 0;
}
.uum-school-of-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.header,
.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.title {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 227px;
}
.header {
  width: 414px;
  flex-direction: row;
  gap: var(--gap-7xs);
}
.user-id,
.user-name {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 110px;
}
.user-id {
  min-width: 45px;
}
.credentials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.background,
.user {
  display: flex;
  align-items: flex-start;
}
.user {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  text-align: right;
  font-size: var(--portal5uumedumy-roboto-regular-14-size);
}
.background {
  align-self: stretch;
  background-color: var(--portaluumedumy-nero);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-smi) var(--padding-5xs)
    var(--padding-4xs);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.manage-account {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-bold-12-upper-size);
  line-height: 18px;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  color: var(--portaluumedumy-nero);
  text-align: center;
}
.link7 {
  cursor: pointer;
  border: 1px solid var(--portal5uumedumy-alto1);
  padding: var(--padding-xs);
  background-color: var(--portaluumedumy-mariner);
  flex: 1;
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.input3:hover,
.link7:hover {
  border: 1px solid var(--color-silver-100);
}
.link7:hover {
  background-color: var(--color-cornflowerblue);
  box-sizing: border-box;
}
.change-password {
  text-decoration: none;
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-bold-12-upper-size);
  line-height: 18px;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  color: var(--portaluumedumy-nero);
  text-align: center;
  display: inline-block;
  min-width: 97px;
}
.input3 {
  cursor: pointer;
  border: 1px solid var(--portal5uumedumy-alto1);
  padding: var(--padding-xs) var(--padding-8xs);
  background-color: var(--portal5uumedumy-kimberly);
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.input3:hover {
  background-color: var(--color-steelblue-100);
}
.logout {
  text-decoration: none;
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-bold-12-upper-size);
  line-height: 18px;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  color: var(--portaluumedumy-nero);
  text-align: center;
  display: inline-block;
  min-width: 38px;
}
.container7,
.input3:hover,
.input4,
.input4:hover {
  box-sizing: border-box;
}
.input4 {
  cursor: pointer;
  border: 1px solid var(--portal5uumedumy-alto1);
  padding: var(--padding-xs) var(--padding-2xl);
  background-color: var(--portal5uumedumy-tamarillo);
  width: 83px;
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input4:hover {
  background-color: var(--color-brown-100);
  border: 1px solid var(--color-silver-100);
}
.container7 {
  width: calc(100% - 1482px);
  margin: 0 !important;
  position: absolute;
  top: 1px;
  right: -66px;
  left: 1548px;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-47xl) var(--padding-8xs)
    var(--padding-7xs);
  gap: var(--gap-mini);
  max-width: 100%;
}
.container7,
.home,
.link8 {
  display: flex;
  align-items: center;
}
.home {
  text-decoration: none;
  width: 84px;
  height: 31.7px;
  position: relative;
  font-size: var(--portal5uumedumy-roboto-regular-14-size);
  line-height: 17.14px;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  color: var(--portaluumedumy-nero);
  text-align: center;
  justify-content: center;
  flex-shrink: 0;
}
.link8 {
  cursor: pointer;
  border: 1px solid var(--portaluumedumy-black-50);
  padding: var(--padding-6xs-6) var(--padding-3xs) var(--padding-6xs-7);
  background-color: var(--portal5uumedumy-tundora);
  height: 47px;
  margin: 0 !important;
  position: absolute;
  top: 5px;
  left: -2px;
  border-radius: var(--br-10xs);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
}
.link8:hover,
.link9:hover {
  background-color: var(--color-dimgray-100);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.create-paperwork {
  position: relative;
  font-size: var(--portal5uumedumy-roboto-regular-14-size);
  line-height: 18px;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  color: var(--portal5uumedumy-guardsman-red);
  text-align: center;
}
.background1,
.container8,
.link9 {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.link9 {
  cursor: pointer;
  border: 1px solid var(--portal5uumedumy-guardsman-red);
  padding: var(--padding-mini) var(--padding-4xs);
  background-color: var(--portaluumedumy-nero);
  height: 50px;
  border-radius: var(--br-10xs);
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}
.link9:hover {
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-tomato);
}
.background1,
.container8 {
  flex-direction: row;
  align-items: flex-start;
}
.container8 {
  height: 55px;
  width: 396px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: calc(50% - 962px);
  padding: var(--padding-8xs) var(--padding-86xl) var(--padding-11xs) 0;
  gap: var(--gap-5xs);
}
.background1 {
  align-self: stretch;
  height: 56px;
  background-color: var(--portal5uumedumy-quill-gray);
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 0 0 var(--padding-7xs);
  position: relative;
  gap: var(--gap-747xl-9);
  max-width: 100%;
}
.container6 {
  align-self: stretch;
  flex-direction: column;
}
.container6,
.content,
.main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.content {
  flex: 1;
  flex-direction: column;
}
.main {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.container9 {
  width: 453.9px;
  display: none;
  max-width: 100%;
}
.new-paperwork {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.container10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
}
.body-row-data,
.table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.body-row-data {
  width: 1921px;
  justify-content: flex-start;
  padding: var(--padding-4xs-1) 0 var(--padding-3xs-9);
  max-width: 114%;
  flex-shrink: 0;
}
.table {
  width: 1688px;
  background-color: var(--portal5uumedumy-alto);
  justify-content: center;
  padding: 0;
  max-width: 100%;
}
.paperwork-id {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  white-space: pre-wrap;
  min-width: 105px;
}
.data {
  width: 337px;
  background-color: var(--portal5uumedumy-silver);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs-2) var(--padding-xl) var(--padding-8xs-8)
    var(--padding-9xs);
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
}
.uumsoc2324a2320002 {
  position: relative;
  line-height: 19px;
}
.container11 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs-9) 0;
}
.data1,
.row {
  display: flex;
  max-width: 100%;
}
.data1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs);
  box-sizing: border-box;
  min-width: 866px;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
}
.row {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap-12xs);
}
.user-name1 {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 81px;
}
.data2 {
  width: 337px;
  background-color: var(--portal5uumedumy-silver);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs-2) var(--padding-xl) var(--padding-8xs-8)
    var(--padding-9xs);
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
}
.ali-bin-abu {
  position: relative;
  line-height: 19px;
  display: inline-block;
  min-width: 76px;
}
.container12 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs-9) 0;
}
.data3,
.row1 {
  display: flex;
  max-width: 100%;
}
.data3 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs);
  box-sizing: border-box;
  min-width: 866px;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
}
.row1 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap-12xs);
}
.user-id1 {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 54px;
}
.data4 {
  width: 337px;
  background-color: var(--portal5uumedumy-silver);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-2) var(--padding-9xs) var(--padding-8xs-8);
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
}
.paperwork-type {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  white-space: pre-wrap;
  min-width: 123px;
}
.data5 {
  width: 337px;
  background-color: var(--portal5uumedumy-silver);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xs-2) var(--padding-xl) var(--padding-8xs-8)
    var(--padding-9xs);
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
}
.programme {
  text-decoration: none;
  position: relative;
  line-height: 19px;
  color: inherit;
  display: inline-block;
  min-width: 86px;
}
.container13,
.data6,
.row2 {
  display: flex;
  justify-content: flex-start;
}
.container13 {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-12xs-9) 0;
}
.data6,
.row2 {
  max-width: 100%;
}
.data6 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-10xs);
  box-sizing: border-box;
  min-width: 866px;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
}
.row2 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap-12xs);
}
.session {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 58px;
}
.data7 {
  width: 337px;
  background-color: var(--portal5uumedumy-silver);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-8xs-7) var(--padding-xl) var(--padding-8xs-8)
    var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.a232 {
  position: relative;
  line-height: 19px;
  display: inline-block;
  min-width: 32px;
}
.container14,
.data8,
.row3 {
  display: flex;
  justify-content: flex-start;
}
.container14 {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-12xs-8) 0 var(--padding-12xs);
}
.data8,
.row3 {
  max-width: 100%;
}
.data8 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-10xs);
  box-sizing: border-box;
  min-width: 510px;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
}
.row3 {
  width: 1121.9px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 20px;
}
.title1 {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 36px;
}
.data10,
.data11,
.data12,
.data9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--portal5uumedumy-silver);
  width: 336.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base-5) var(--padding-9xs) var(--padding-base-4);
  box-sizing: border-box;
}
.data10,
.data11,
.data12 {
  border: 0;
  height: 170px;
  width: 336.6px;
  outline: 0;
  top: 10.4px;
  padding: var(--padding-56xl-5) var(--padding-9xs);
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  font-weight: 700;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  color: var(--portaluumedumy-black-50);
  z-index: 1;
}
.data11,
.data12 {
  height: 147px;
  width: 336.9px;
  top: 139.4px;
  padding: 64px var(--padding-9xs);
  z-index: 2;
}
.data12 {
  height: 277px;
  width: 338px;
  top: 284.9px;
  padding: var(--padding-110xl) var(--padding-9xs);
  z-index: 3;
}
.header1 {
  height: 561.9px;
  width: 338px;
  position: relative;
  max-width: 100%;
}
.school-of-computing,
.the-deans-award {
  position: relative;
  line-height: 19px;
}
.the-deans-award {
  align-self: stretch;
  height: 82px;
  line-height: 18.67px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.the-primary-objective {
  margin: 0;
}
.highlight-the-importance,
.inspire-continued-excellence {
  margin-bottom: 0;
}
.inspire-continued-excellence-a {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-lgi);
}
.the-primary-objective-container {
  align-self: stretch;
  position: relative;
  line-height: 18.67px;
}
.objective {
  align-self: stretch;
  flex-direction: column;
  gap: 23.3px;
}
.award,
.data13,
.description,
.details,
.objective {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.award {
  align-self: stretch;
  flex-direction: column;
  gap: 19.9px;
  flex-shrink: 0;
}
.data13,
.description,
.details {
  max-width: 100%;
}
.description {
  flex: 1;
  flex-direction: column;
  padding: 13.7px 0 0;
  box-sizing: border-box;
  min-width: 750px;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
}
.data13,
.details {
  flex-direction: row;
}
.details {
  align-self: stretch;
  flex-wrap: wrap;
  gap: 1.6px;
}
.data13 {
  border: 0;
  background-color: var(--portal5uumedumy-silver);
  height: 277px;
  width: 338px;
  outline: 0;
  padding: var(--padding-110xl) var(--padding-9xs);
  box-sizing: border-box;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  font-weight: 700;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  color: var(--portaluumedumy-black-50);
  z-index: 4;
}
.established-in-1998 {
  align-self: stretch;
  height: 82px;
  position: relative;
  line-height: 18.67px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.content2 {
  flex: 1;
  flex-direction: column;
  padding: 95.7px 0 0;
  box-sizing: border-box;
  min-width: 750px;
}
.background3,
.content1,
.content2,
.info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.background3 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
}
.content1,
.info {
  flex-direction: column;
}
.content1 {
  width: 1495px;
}
.info {
  align-self: stretch;
  padding: 0 0 37.2px;
  box-sizing: border-box;
}
.data14,
.data15 {
  width: 784.7px;
  display: none;
  max-width: 100%;
}
.data16 {
  border: 0;
  background-color: var(--portal5uumedumy-silver);
  height: 277px;
  width: 338px;
  outline: 0;
  margin: 0 !important;
  position: absolute;
  top: -95.7px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-110xl) var(--padding-9xs);
  box-sizing: border-box;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  font-weight: 700;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  color: var(--portaluumedumy-black-50);
  z-index: 5;
}
.the-aim-of {
  margin: 0;
}
.identify-and-celebrate,
.provide-a-platform {
  margin-bottom: 0;
}
.identify-and-celebrate-individ {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-lgi);
}
.the-aim-of-container1 {
  width: 100%;
}
.the-aim-of-container {
  height: 82px;
  width: 1154px;
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  line-height: 18.67px;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  color: var(--portaluumedumy-black-50);
  text-align: left;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.aim,
.content4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.content4 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 23.8px;
  box-sizing: border-box;
}
.aim {
  width: 1495px;
  justify-content: flex-start;
  position: relative;
}
.data17,
.no {
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
}
.data17 {
  border: 0;
  background-color: var(--portal5uumedumy-silver);
  height: 277px;
  width: 338px;
  outline: 0;
  margin: 0 !important;
  position: absolute;
  bottom: -81px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-110xl) var(--padding-9xs);
  box-sizing: border-box;
  font-weight: 700;
  color: var(--portaluumedumy-black-50);
  z-index: 6;
}
.no {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  color: var(--portaluumedumy-nero);
  text-align: center;
  min-width: 22px;
}
.cell,
.input6:hover {
  box-sizing: border-box;
}
.cell {
  width: 38px;
  background-color: var(--portal5uumedumy-tamarillo);
  border: 1px solid var(--portal5uumedumy-emperor);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-11xs);
}
.id {
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-nero);
  text-align: center;
  min-width: 15px;
}
.cell1 {
  width: 69px;
  background-color: var(--portal5uumedumy-tamarillo);
  border: 1px solid var(--portal5uumedumy-emperor);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-smi);
}
.name {
  flex: 1;
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-nero);
  text-align: center;
}
.cell2 {
  flex: 1;
  background-color: var(--portal5uumedumy-tamarillo);
  border: 1px solid var(--portal5uumedumy-emperor);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-48xl) var(--padding-9xs)
    var(--padding-50xl);
  min-width: 225px;
  max-width: 100%;
}
.position {
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-nero);
  text-align: center;
  min-width: 66px;
}
.cell3 {
  width: 176px;
  background-color: var(--portal5uumedumy-tamarillo);
  border: 1px solid var(--portal5uumedumy-emperor);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-9xs) var(--padding-23xl);
}
.telephone {
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-nero);
  text-align: center;
  min-width: 79px;
}
.cell4 {
  background-color: var(--portal5uumedumy-tamarillo);
  border: 1px solid var(--portal5uumedumy-emperor);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-2xs) var(--padding-9xs)
    var(--padding-mini);
}
.remarks {
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-nero);
  text-align: center;
  min-width: 66px;
}
.action,
.cell5 {
  display: flex;
  justify-content: center;
}
.cell5 {
  width: 287px;
  background-color: var(--portal5uumedumy-tamarillo);
  border: 1px solid var(--portal5uumedumy-emperor);
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-xl);
}
.action {
  width: 75.7px;
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-nero);
  text-align: center;
  align-items: center;
  flex-shrink: 0;
}
.cell6,
.header2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cell6 {
  width: 107px;
  background-color: var(--portal5uumedumy-tamarillo);
  border: 1px solid var(--portal5uumedumy-emperor);
  box-sizing: border-box;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-sm) var(--padding-9xs)
    var(--padding-mini);
}
.header2 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 100%;
}
.values {
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  color: var(--portaluumedumy-black-50);
  text-align: left;
  display: inline-block;
  min-width: 8px;
}
.data18 {
  width: 38px;
  border: 1px solid var(--portal5uumedumy-silver1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-10xs) var(--padding-5xs);
}
.div {
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  color: var(--portaluumedumy-black-50);
  text-align: left;
  display: inline-block;
  min-width: 31px;
}
.data19 {
  width: 69px;
  border: 1px solid var(--portal5uumedumy-silver1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-10xs) var(--padding-5xs);
}
.ali-bin-abu1 {
  width: 76px;
  border: 0;
  outline: 0;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  background-color: transparent;
  height: 19px;
  position: relative;
  color: var(--portaluumedumy-black-50);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.data20 {
  flex: 1;
  border: 1px solid var(--portal5uumedumy-silver1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-10xs) var(--padding-5xs);
  min-width: 76px;
  max-width: 100%;
}
.committee1 {
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  color: var(--portaluumedumy-black-50);
  text-align: left;
  display: inline-block;
  min-width: 77px;
}
.data21 {
  width: 176px;
  border: 1px solid var(--portal5uumedumy-silver1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-10xs) var(--padding-5xs);
}
.div1 {
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  color: var(--portaluumedumy-black-50);
  text-align: left;
  display: inline-block;
  min-width: 76px;
}
.data22 {
  width: 107px;
  border: 1px solid var(--portal5uumedumy-silver1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-10xs) var(--padding-5xs);
  z-index: 1;
}
.data22,
.data23,
.input5 {
  box-sizing: border-box;
}
.input5 {
  border: 1px solid var(--portal5uumedumy-boulder);
  outline: 0;
  background-color: var(--portaluumedumy-nero);
  height: 26px;
  flex: 1;
  min-width: 167px;
}
.data23 {
  width: 287px;
  border: 1px solid var(--portal5uumedumy-silver1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-11xs) var(--padding-10xs);
  z-index: 2;
}
.delete {
  flex: 1;
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-black-50);
  text-align: center;
}
.input6 {
  cursor: pointer;
  border: 1px solid var(--portaluumedumy-black-50);
  padding: var(--padding-8xs) var(--padding-2xl);
  background-color: var(--portal5uumedumy-silver);
  flex: 1;
  box-shadow: 0 1px 0#999;
  border-radius: var(--br-7xs);
  display: flex;
  align-items: flex-start;
}
.input6:hover {
  background-color: var(--color-darkgray);
  border: 1px solid var(--color-darkslategray-100);
}
.data24,
.input6,
.member {
  flex-direction: row;
  justify-content: flex-start;
}
.data24 {
  width: 107px;
  border: 1px solid var(--portal5uumedumy-silver1);
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-11xs) var(--padding-10xs) var(--padding-12xs);
}
.member {
  align-self: stretch;
  flex-wrap: wrap;
}
.committee,
.member,
.members,
.table2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.table2 {
  width: 1154px;
  background-color: var(--portaluumedumy-nero);
  border: 1px solid var(--portal5uumedumy-emperor);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl) var(--padding-8xs) var(--padding-12xl) 0;
  gap: var(--gap-12xs-1);
}
.committee,
.members {
  flex-direction: row;
}
.members {
  flex: 1;
  justify-content: flex-end;
}
.committee {
  width: 1495px;
  justify-content: flex-start;
  position: relative;
}
.data25,
.no1 {
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
}
.data25 {
  border: 0;
  background-color: var(--portal5uumedumy-silver);
  height: 277px;
  width: 338px;
  outline: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-110xl) var(--padding-9xs);
  box-sizing: border-box;
  font-weight: 700;
  color: var(--portaluumedumy-black-50);
  max-width: calc(100% - 1330px);
}
.no1 {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  color: var(--portaluumedumy-nero);
  text-align: center;
  min-width: 25px;
}
.cell7 {
  width: 50.1px;
  background-color: var(--portal5uumedumy-tamarillo);
  border: 1px solid var(--portal5uumedumy-emperor);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-xs);
}
.expenditure-type {
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-nero);
  text-align: center;
}
.cell8,
.cell9:hover {
  box-sizing: border-box;
}
.cell8 {
  flex: 1;
  background-color: var(--portal5uumedumy-tamarillo);
  border: 1px solid var(--portal5uumedumy-emperor);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-125xl);
  min-width: 316px;
  max-width: 100%;
}
.unit-price {
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-nero);
  text-align: center;
  min-width: 77px;
}
.cell9 {
  cursor: pointer;
  border: 1px solid var(--portal5uumedumy-emperor);
  padding: var(--padding-9xs) var(--padding-26xl) var(--padding-9xs)
    var(--padding-27xl);
  background-color: var(--portal5uumedumy-tamarillo);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.cell9:hover {
  background-color: var(--color-brown-100);
  border: 1px solid var(--color-gray-200);
}
.quantity {
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-nero);
  text-align: center;
  min-width: 71px;
}
.cell10 {
  background-color: var(--portal5uumedumy-tamarillo);
  border: 1px solid var(--portal5uumedumy-emperor);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-9xl);
}
.budget-amount {
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-nero);
  text-align: center;
  min-width: 123px;
}
.cell11 {
  background-color: var(--portal5uumedumy-tamarillo);
  border: 1px solid var(--portal5uumedumy-emperor);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-20xl);
  white-space: nowrap;
}
.action1,
.cell11,
.cell12 {
  display: flex;
  justify-content: center;
}
.action1 {
  width: 112px;
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-nero);
  text-align: center;
  align-items: center;
}
.cell12 {
  background-color: var(--portal5uumedumy-tamarillo);
  border: 1px solid var(--portal5uumedumy-emperor);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-9xs) 0 var(--padding-9xs) 0;
}
.row5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  row-gap: 20px;
}
.food-data {
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  color: var(--portaluumedumy-black-50);
  text-align: left;
  display: inline-block;
  min-width: 8px;
}
.data27 {
  width: 50.1px;
  border: 1px solid var(--portal5uumedumy-silver1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-xl) var(--padding-8xs)
    var(--padding-10xs);
}
.food-beverage-breakfast {
  width: 184px;
  border: 0;
  outline: 0;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  background-color: transparent;
  height: 19px;
  position: relative;
  color: var(--portaluumedumy-black-50);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.data28 {
  flex: 1;
  border: 1px solid var(--portal5uumedumy-silver1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-10xs);
  min-width: 316px;
  max-width: 100%;
}
.div2 {
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  color: var(--portaluumedumy-black-50);
  text-align: left;
  display: inline-block;
  min-width: 34px;
}
.data29 {
  width: 168.1px;
  border: 1px solid var(--portal5uumedumy-silver1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-xl) var(--padding-8xs)
    var(--padding-48xl);
  z-index: 1;
}
.div3 {
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  color: var(--portaluumedumy-black-50);
  text-align: right;
  display: inline-block;
  min-width: 16px;
}
.data30 {
  border: 1px solid var(--portal5uumedumy-silver1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-34xl) var(--padding-8xs)
    var(--padding-37xl);
}
.div4 {
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  color: var(--portaluumedumy-black-50);
  text-align: right;
  display: inline-block;
  min-width: 34px;
}
.data31 {
  border: 1px solid var(--portal5uumedumy-silver1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-63xl) var(--padding-8xs)
    var(--padding-65xl);
}
.delete1 {
  height: 11.4px;
  flex: 1;
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  display: flex;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-black-50);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.input7 {
  width: 99px;
  margin: 0 !important;
  position: absolute;
  top: 3.2px;
  left: 3.3px;
  box-shadow: 0 1px 0#999;
  border-radius: var(--br-7xs);
  background-color: var(--portal5uumedumy-silver);
  border: 1px solid var(--portaluumedumy-black-50);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xl) var(--padding-8xs)
    var(--padding-2xl);
}
.data32,
.input7,
.row6,
.table3 {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}
.data32 {
  cursor: pointer;
  border: 1px solid var(--portal5uumedumy-silver1);
  padding: 3.1px var(--padding-9xs) 3.3px var(--padding-10xs);
  background-color: transparent;
  height: 31px;
  width: 107px;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.row6,
.table3 {
  max-width: 100%;
}
.row6 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  row-gap: 20px;
}
.table3 {
  width: 1154px;
  background-color: var(--portaluumedumy-nero);
  border: 1px solid var(--portal5uumedumy-emperor);
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-15xl) var(--padding-2xs) var(--padding-15xl) 0;
}
.content3,
.data26,
.row4 {
  display: flex;
  justify-content: flex-start;
}
.data26 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-10xs) var(--padding-xl);
  box-sizing: border-box;
  max-width: calc(100% - 338px);
}
.content3,
.row4 {
  align-self: stretch;
  max-width: 100%;
}
.row4 {
  height: 147px;
  flex-direction: row;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  z-index: 7;
}
.content3 {
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.start-date {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 81px;
}
.data33 {
  width: 336.8px;
  background-color: var(--portal5uumedumy-silver);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-8) var(--padding-9xs) var(--padding-7xs-7);
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
  z-index: 8;
}
.end-date {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 68px;
}
.data34 {
  width: 337px;
  background-color: var(--portal5uumedumy-silver);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-7) var(--padding-9xs) var(--padding-7xs-8);
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
}
.programme-involvement {
  position: relative;
  text-transform: capitalize;
}
.data35 {
  align-self: stretch;
  background-color: var(--portal5uumedumy-silver);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
  z-index: 1;
}
.external-sponsor {
  position: relative;
  text-transform: capitalize;
  white-space: pre-wrap;
}
.data36 {
  align-self: stretch;
  background-color: var(--portal5uumedumy-silver);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
  z-index: 2;
}
.if-yesstate-sponsor {
  position: relative;
  text-transform: capitalize;
}
.data37 {
  align-self: stretch;
  background-color: var(--portal5uumedumy-silver);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-8) var(--padding-9xs) var(--padding-7xs-7);
  white-space: nowrap;
  z-index: 3;
}
.english-language-requirement {
  position: relative;
  text-transform: capitalize;
}
.data38,
.sponsor-data {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.data38 {
  align-self: stretch;
  background-color: var(--portal5uumedumy-silver);
  flex-direction: row;
  padding: var(--padding-9xs);
}
.sponsor-data {
  width: 337.2px;
  flex-direction: column;
  min-width: 337.2px;
  max-width: 100%;
}
.input8 {
  cursor: pointer;
  margin: 0;
  width: 13px;
  height: 13px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--portaluumedumy-nero);
  border: 1px solid var(--portal5uumedumy-boulder);
  box-sizing: border-box;
  flex-shrink: 0;
}
.internal-radio-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-1) 0 0;
}
.label-internal {
  flex: 1;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.internal-radio-options {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.input9 {
  cursor: pointer;
  margin: 0;
  width: 13px;
  height: 13px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--portaluumedumy-nero);
  border: 1px solid var(--portal5uumedumy-boulder);
  box-sizing: border-box;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-1) 0 0;
}
.label-yes {
  flex: 1;
  position: relative;
  z-index: 1;
}
.internal-radio-options-parent,
.internal-radio-options1 {
  width: 46px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.internal-radio-options-parent {
  width: 52.6px;
  flex-direction: column;
  gap: var(--gap-4xs-3);
}
.input10 {
  cursor: pointer;
  margin: 0;
  width: 13px;
  height: 13px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--portaluumedumy-nero);
  border: 1px solid var(--portal5uumedumy-boulder);
  box-sizing: border-box;
  flex-shrink: 0;
  z-index: 2;
}
.external-no-radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-1) 0 0;
}
.label-external {
  position: relative;
  display: inline-block;
  min-width: 54.1px;
  flex-shrink: 0;
  z-index: 3;
}
.external-no-option,
.external-no-option-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.external-no-option-wrapper {
  padding: 0 0 0 var(--padding-6xs);
}
.input11 {
  cursor: pointer;
  margin: 0;
  width: 13px;
  height: 13px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--portaluumedumy-nero);
  border: 1px solid var(--portal5uumedumy-boulder);
  box-sizing: border-box;
  z-index: 2;
}
.external-yes-option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-1) 0 0;
}
.label-no {
  position: relative;
  display: inline-block;
  min-width: 20px;
  z-index: 3;
}
.external-yes-option-parent {
  flex-direction: row;
}
.external-yes-option-parent,
.frame-container,
.frame-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div {
  flex-direction: column;
  gap: var(--gap-4xs-3);
  margin-left: -7px;
}
.frame-container {
  flex-direction: row;
}
.input12 {
  cursor: pointer;
  margin: 0;
  width: 13px;
  height: 13px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--portaluumedumy-nero);
  border: 1px solid var(--portal5uumedumy-boulder);
  box-sizing: border-box;
}
.external-input-option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-1) 0 0;
}
.label-external1 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.external-input-option-parent,
.frame-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.external-input-option-parent {
  flex: 1;
}
.frame-group {
  width: 268px;
  gap: var(--gap-4xs-3);
}
.input13,
.input14 {
  position: relative;
  background-color: var(--portaluumedumy-nero);
  border: 1px solid var(--portal5uumedumy-boulder);
  box-sizing: border-box;
}
.input13 {
  outline: 0;
  align-self: stretch;
  height: 24px;
  min-width: 250px;
}
.input14 {
  cursor: pointer;
  margin: 0;
  width: 13px;
  height: 13px;
  border-radius: var(--br-31xl);
  flex-shrink: 0;
}
.requirement-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-1) 0 0;
}
.input15,
.label-yes1 {
  position: relative;
  flex-shrink: 0;
}
.label-yes1 {
  flex: 1;
  z-index: 1;
  margin-left: -0.2px;
}
.input15 {
  cursor: pointer;
  margin: 0;
  width: 13px;
  height: 13px;
  border-radius: var(--br-31xl);
  background-color: var(--portaluumedumy-nero);
  border: 1px solid var(--portal5uumedumy-boulder);
  box-sizing: border-box;
  z-index: 2;
}
.requirement-fields1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-1) 0 0;
  margin-left: -0.2px;
}
.label-no1 {
  position: relative;
  display: inline-block;
  min-width: 20px;
  flex-shrink: 0;
  z-index: 3;
  margin-left: -0.2px;
}
.requirement-options,
.requirement-options-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.requirement-options {
  flex: 1;
}
.requirement-options-wrapper {
  width: 80.8px;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.frame-parent,
.frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-5xs-3);
}
.frame-wrapper {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 2.9px;
  box-sizing: border-box;
  min-width: 359px;
  max-width: 100%;
}
.sponsor-data-parent {
  width: 891px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.8px;
  max-width: 100%;
}
.approve-project {
  flex: 1;
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-nero);
  white-space: pre-wrap;
  text-align: center;
}
.data39,
.input16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.input16 {
  cursor: pointer;
  border: 1px solid var(--portaluumedumy-black-50);
  padding: var(--padding-8xs) var(--padding-2xl);
  background-color: var(--portal5uumedumy-japanese-laurel);
  width: 293px;
  box-shadow: 0 1px 0#999;
  border-radius: var(--br-7xs);
  flex-direction: row;
  white-space: nowrap;
}
.input16:hover,
.input17:hover {
  background-color: #388c26;
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.data39 {
  width: 141.3px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 var(--padding-6xs-4) var(--padding-10xs);
}
.reject-and-send {
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-black-50);
  text-align: center;
}
.input17 {
  cursor: pointer;
  border: 1px solid var(--portaluumedumy-black-50);
  padding: var(--padding-8xs) var(--padding-2xl);
  background-color: var(--portal5uumedumy-scarlet);
  box-shadow: 0 1px 0#999;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.input17:hover {
  background-color: #ff5226;
}
.data40,
.dates,
.row7,
.table1 {
  display: flex;
  flex-direction: column;
}
.data40 {
  width: 141.3px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 var(--padding-6xs-4) var(--padding-10xs);
  box-sizing: border-box;
}
.dates,
.row7,
.table1 {
  max-width: 100%;
}
.row7 {
  width: 813.3px;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  z-index: 1;
}
.dates,
.table1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.dates {
  align-self: stretch;
}
.table1 {
  width: 1688px;
  background-color: var(--portaluumedumy-nero);
  border: 1px solid var(--portaluumedumy-black-50);
  box-sizing: border-box;
  padding: var(--padding-smi) 16px var(--padding-smi) 0;
  text-align: left;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  color: var(--portaluumedumy-black-50);
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
}
.note,
.test {
  position: relative;
  display: inline-block;
  min-width: 38px;
}
.test {
  min-width: 30px;
}
.body-row,
.data41 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.data41 {
  align-self: stretch;
  background-color: var(--portal5uumedumy-texas);
  border: 1px solid var(--portaluumedumy-black-50);
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-9xs);
}
.body-row {
  width: 47.8px;
  justify-content: center;
}
.admin-approve-and-reject-ppw,
.background2,
.table4 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
}
.table4 {
  width: 1688px;
  background-color: var(--portaluumedumy-nero);
  border: 1px solid var(--portaluumedumy-black-50);
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-12xs-4) 0 var(--padding-12xs-5);
  max-width: 100%;
  text-align: left;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  color: var(--portaluumedumy-black-50);
}
.admin-approve-and-reject-ppw,
.background2 {
  justify-content: flex-start;
  font-size: var(--text-size);
}
.background2 {
  width: 1883px;
  background-color: var(--portaluumedumy-nero);
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  padding: var(--padding-8xs) var(--padding-xl) 30.2px;
  gap: var(--gap-8xs);
  max-width: 100%;
  text-align: center;
  color: var(--portal5uumedumy-tamarillo);
}
.admin-approve-and-reject-ppw {
  width: 100%;
  position: relative;
  overflow-y: auto;
  align-items: flex-start;
  padding: 0 0 137.4px;
  gap: var(--gap-10xl-6);
  background-image: url(./public/admin-approve-and-reject-ppw@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--portal5uumedumy-deep-fir);
}
@media screen and (max-width: 975px) {
  .content2,
  .data1,
  .data3,
  .data6,
  .description {
    min-width: 100%;
  }
  .row4 {
    height: auto;
  }
  .sponsor-data {
    flex: 1;
  }
  .sponsor-data-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 700px) {
  .background {
    flex-wrap: wrap;
  }
  .data8 {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .uum-school-of-container {
    font-size: var(--font-size-lgi);
  }
  .header {
    flex-wrap: wrap;
  }
  .user-id,
  .user-name {
    font-size: var(--portaluumedumy-arial-narrow-15-size);
  }
  .new-paperwork {
    font-size: var(--font-size-lgi);
  }
  .cell2,
  .cell8 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-wrapper,
  .sponsor-data {
    min-width: 100%;
  }
}
