.bannerportal-studentpng-icon1 {
  height: 58px;
  width: 58px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 58px;
}
.paperwork-management-system1,
.uum-school-of1 {
  margin: 0;
}
.uum-school-of-container1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.bannerportal-studentpng-parent,
.uum-school-of-computing-paperw-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.uum-school-of-computing-paperw-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 227px;
}
.bannerportal-studentpng-parent {
  width: 414px;
  flex-direction: row;
  gap: var(--gap-7xs);
}
.user-id2,
.user-name2 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 110px;
}
.user-id2 {
  min-width: 45px;
}
.user-name-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.background-inner,
.background4 {
  display: flex;
  align-items: flex-start;
}
.background-inner {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  text-align: right;
  font-size: var(--portal5uumedumy-roboto-regular-14-size);
}
.background4 {
  align-self: stretch;
  background-color: var(--portaluumedumy-nero);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-smi) var(--padding-5xs)
    var(--padding-4xs);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.manage-account1 {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-bold-12-upper-size);
  line-height: 18px;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  color: var(--portaluumedumy-black-50);
  text-align: center;
}
.link10 {
  cursor: pointer;
  border: 2px solid var(--portal5uumedumy-deep-fir);
  padding: 13.5px var(--padding-xs);
  background-color: var(--portaluumedumy-nero);
  height: 49px;
  flex: 1;
  border-radius: var(--br-10xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.link10:hover {
  background-color: var(--color-gainsboro-100);
  border: 2px solid #33f;
  box-sizing: border-box;
}
.change-password1 {
  text-decoration: none;
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-bold-12-upper-size);
  line-height: 18px;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  color: var(--portaluumedumy-nero);
  text-align: center;
  display: inline-block;
  min-width: 97px;
}
.input18 {
  cursor: pointer;
  border: 1px solid var(--portal5uumedumy-alto1);
  padding: var(--padding-xs) var(--padding-8xs);
  background-color: var(--portal5uumedumy-kimberly);
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.input18:hover,
.input19:hover,
.link11:hover {
  background-color: var(--color-steelblue-100);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
}
.logout1 {
  text-decoration: none;
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-bold-12-upper-size);
  line-height: 18px;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  color: var(--portaluumedumy-nero);
  text-align: center;
  display: inline-block;
  min-width: 38px;
}
.input19 {
  cursor: pointer;
  border: 1px solid var(--portal5uumedumy-alto1);
  padding: var(--padding-xs) var(--padding-2xl);
  background-color: var(--portal5uumedumy-tamarillo);
  width: 83px;
  border-radius: var(--br-10xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input19:hover,
.link11:hover {
  background-color: var(--color-brown-100);
}
.container16 {
  height: 55px;
  width: calc(100% - 1482px);
  margin: 0 !important;
  position: absolute;
  top: 1px;
  right: -66px;
  left: 1548px;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-8xs) 63px var(--padding-8xs) var(--padding-7xs);
  box-sizing: border-box;
  gap: var(--gap-mini);
  max-width: 100%;
}
.container16,
.home1,
.link11 {
  display: flex;
  align-items: center;
}
.home1 {
  text-decoration: none;
  width: 84px;
  height: 31.7px;
  position: relative;
  font-size: var(--portal5uumedumy-roboto-regular-14-size);
  line-height: 17.14px;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  color: var(--portaluumedumy-black-50);
  text-align: center;
  justify-content: center;
  flex-shrink: 0;
}
.link11 {
  cursor: pointer;
  border: 1px solid var(--portaluumedumy-black-50);
  padding: var(--padding-6xs-6) var(--padding-3xs) var(--padding-6xs-7);
  background-color: var(--portal5uumedumy-nobel);
  height: 47px;
  margin: 0 !important;
  position: absolute;
  top: 5px;
  left: -2px;
  border-radius: var(--br-10xs);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
}
.link11:hover {
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-darkslategray-100);
}
.create-paperwork1 {
  position: relative;
  font-size: var(--portal5uumedumy-roboto-regular-14-size);
  line-height: 18px;
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
  color: var(--portaluumedumy-nero);
  text-align: center;
}
.background5,
.container17,
.link12 {
  display: flex;
  justify-content: center;
}
.link12 {
  cursor: pointer;
  border: 1px solid var(--portal5uumedumy-alto1);
  padding: var(--padding-smi) var(--padding-5xs);
  background-color: var(--portal5uumedumy-guardsman-red);
  border-radius: var(--br-10xs);
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}
.input20:hover,
.link12:hover {
  background-color: var(--color-tomato);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
}
.background5,
.container17 {
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.container17 {
  width: 396px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: calc(50% - 962px);
  padding: var(--padding-8xs) var(--padding-86xl) var(--padding-11xs) 0;
  gap: var(--gap-5xs);
}
.background5 {
  align-self: stretch;
  height: 56px;
  background-color: var(--portal5uumedumy-quill-gray);
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 0 0 var(--padding-7xs);
  position: relative;
  gap: var(--gap-747xl-9);
  max-width: 100%;
}
.container15 {
  align-self: stretch;
  flex-direction: column;
}
.background-parent,
.container15,
.manage-account-page-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.background-parent {
  flex: 1;
  flex-direction: column;
}
.manage-account-page-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--text-size);
  color: var(--portal5uumedumy-deep-fir);
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
}
.container18 {
  width: 453.9px;
  display: none;
  max-width: 100%;
}
.list-of-accounts {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.container19 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
}
.body-row-data1,
.data42,
.table5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.body-row-data1 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-4xs-1) 0 var(--padding-3xs-9);
}
.data42,
.table5 {
  justify-content: center;
}
.table5 {
  align-self: stretch;
  background-color: var(--portal5uumedumy-alto);
  padding: 0 var(--padding-lgi) 0 0;
}
.data42 {
  width: 366.7px;
  border: 0;
  outline: 0;
  background-color: var(--portal5uumedumy-silver);
  height: 25px;
  padding: var(--padding-8xs-7) var(--padding-9xs) var(--padding-8xs-3);
  box-sizing: border-box;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  font-weight: 700;
  font-size: var(--portal5uumedumy-segoe-ui-bold-12-upper-size);
  color: var(--portaluumedumy-black-50);
  max-width: 100%;
}
.all {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 14px;
}
.container20 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs-6) 0 var(--padding-12xs-7);
}
.data43,
.options {
  justify-content: flex-start;
  box-sizing: border-box;
}
.options {
  width: 181px;
  background-color: var(--portaluumedumy-nero);
  border: 1px solid var(--portal5uumedumy-boulder);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-12xs-7) var(--padding-58xl) var(--padding-12xs-6);
}
.data43 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-10xs);
}
.data43,
.data44,
.row8 {
  display: flex;
  max-width: 100%;
}
.row8 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.data44 {
  width: 366.3px;
  border: 0;
  outline: 0;
  background-color: var(--portal5uumedumy-silver);
  height: 25px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-8xs-5) var(--padding-9xs);
  box-sizing: border-box;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  font-weight: 700;
  font-size: var(--portal5uumedumy-segoe-ui-bold-12-upper-size);
  color: var(--portaluumedumy-black-50);
}
.all1 {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 14px;
}
.container21 {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-12xs-6) 0 var(--padding-12xs-7);
}
.container21,
.data45,
.options1,
.row9 {
  display: flex;
  justify-content: flex-start;
}
.options1 {
  width: 183px;
  background-color: var(--portaluumedumy-nero);
  border: 1px solid var(--portal5uumedumy-boulder);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-12xs-7) var(--padding-59xl) var(--padding-12xs-6);
}
.data45,
.row9 {
  max-width: 100%;
}
.data45 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-10xs);
  box-sizing: border-box;
}
.row9 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.search {
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-bold-12-upper-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-black-50);
  text-align: center;
  min-width: 47px;
}
.input20 {
  cursor: pointer;
  border: 1px solid var(--portaluumedumy-black-50);
  padding: var(--padding-8xs) var(--padding-2xl) var(--padding-7xs);
  background-color: var(--portal5uumedumy-silver);
  box-shadow: 0 1px 0#999;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.input20:hover {
  background-color: var(--color-darkgray);
  border: 1px solid var(--color-darkslategray-100);
}
.body,
.data46,
.row10,
.table6 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.data46 {
  width: 855px;
  align-items: flex-start;
  justify-content: flex-start;
}
.body,
.row10,
.table6 {
  box-sizing: border-box;
  justify-content: center;
}
.row10 {
  align-self: stretch;
  align-items: flex-end;
  padding: 0;
}
.body,
.table6 {
  align-items: flex-start;
}
.body {
  align-self: stretch;
  padding: 0 var(--padding-497xl) 0 0;
}
.table6 {
  width: 1745px;
  background-color: var(--portaluumedumy-nero);
  border: 1px solid var(--portaluumedumy-black-50);
  padding: var(--padding-9xs) var(--padding-6xs) var(--padding-9xs) 0;
  top: 0;
  z-index: 99;
  position: sticky;
}
.no2 {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  min-width: 25px;
}
.cell13 {
  background-color: var(--portal5uumedumy-tamarillo);
  border: 1px solid var(--portal5uumedumy-emperor);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-13xl) var(--padding-9xs)
    var(--padding-2xs);
}
.staff-name {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.cell14 {
  width: 412px;
  background-color: var(--portal5uumedumy-tamarillo);
  border: 1px solid var(--portal5uumedumy-emperor);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-39xl);
  max-width: calc(100% - 831px);
  flex-shrink: 0;
}
.staff-id {
  align-self: stretch;
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-nero);
  text-align: center;
  min-width: 66.8px;
}
.cell15 {
  cursor: pointer;
  border: 1px solid var(--portal5uumedumy-emperor);
  padding: var(--padding-9xs) var(--padding-8xl);
  background-color: var(--portal5uumedumy-tamarillo);
  width: 122px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
}
.cell15:hover,
.cell16:hover,
.cell17:hover,
.cell18:hover,
.cell19:hover,
.input22:hover {
  background-color: var(--color-brown-100);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.role {
  align-self: stretch;
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-nero);
  text-align: center;
}
.cell16 {
  cursor: pointer;
  border: 1px solid var(--portal5uumedumy-emperor);
  padding: var(--padding-9xs) var(--padding-2xl);
  background-color: var(--portal5uumedumy-tamarillo);
  width: 144px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
}
.note1 {
  align-self: stretch;
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-nero);
  text-align: center;
}
.cell17 {
  cursor: pointer;
  border: 1px solid var(--portal5uumedumy-emperor);
  padding: var(--padding-9xs) var(--padding-3xl);
  background-color: var(--portal5uumedumy-tamarillo);
  width: 147px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
}
.action2 {
  align-self: stretch;
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-nero);
  text-align: center;
}
.cell18 {
  cursor: pointer;
  border: 1px solid var(--portal5uumedumy-emperor);
  padding: var(--padding-9xs) var(--padding-13xl);
  background-color: var(--portal5uumedumy-tamarillo);
  width: 219px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
}
.status {
  align-self: stretch;
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-nero);
  text-align: center;
}
.body1,
.cell19,
.row11,
.table8 {
  display: flex;
  box-sizing: border-box;
}
.cell19 {
  cursor: pointer;
  border: 1px solid var(--portal5uumedumy-emperor);
  padding: var(--padding-9xs) var(--padding-lgi);
  background-color: var(--portal5uumedumy-tamarillo);
  width: 130px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
}
.body1,
.row11,
.table8 {
  max-width: 100%;
}
.row11 {
  width: 1225px;
  height: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}
.body1,
.table8 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-10xs) 0;
}
.table8 {
  background-color: var(--portaluumedumy-nero);
  border: 1px solid var(--portal5uumedumy-emperor);
  padding: var(--padding-12xs-3) 0 var(--padding-12xs-3) 0;
}
.div5 {
  position: relative;
  display: inline-block;
  min-width: 8px;
}
.data47 {
  align-self: stretch;
  border: 1px solid var(--portal5uumedumy-silver1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-10xs) var(--padding-11xs);
  flex-shrink: 0;
}
.div6 {
  position: relative;
  display: inline-block;
  min-width: 8px;
}
.data48,
.divider {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.data48 {
  align-self: stretch;
  border: 1px solid var(--portal5uumedumy-silver1);
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-10xs) var(--padding-11xs);
  flex-shrink: 0;
  z-index: 1;
  margin-top: -0.1px;
}
.divider {
  width: 68px;
  flex-direction: column;
}
.ali-bin-abu2 {
  position: relative;
  display: inline-block;
  min-width: 76px;
}
.data49 {
  flex: 1;
  border: 1px solid var(--portal5uumedumy-silver1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-xl);
  min-width: 76px;
  max-width: 100%;
}
.div7 {
  position: relative;
  display: inline-block;
  min-width: 31px;
}
.data50 {
  border: 1px solid var(--portal5uumedumy-silver1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 44px 0 var(--padding-26xl);
}
.administrator {
  position: relative;
  display: inline-block;
  min-width: 85px;
}
.data51 {
  border: 1px solid var(--portal5uumedumy-silver1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-9xl) var(--padding-9xs)
    var(--padding-10xl);
}
.data52,
.input21 {
  box-sizing: border-box;
}
.input21 {
  height: 24px;
  flex: 1;
  position: relative;
  background-color: var(--portaluumedumy-nero);
  border: 1px solid var(--portal5uumedumy-boulder);
  z-index: 5;
}
.data52 {
  width: 146px;
  border: 1px solid var(--portal5uumedumy-silver1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 17px var(--padding-11xs) var(--padding-xl);
}
.reset-password {
  height: 10.4px;
  flex: 1;
  position: relative;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  text-transform: uppercase;
  display: flex;
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
  color: var(--portaluumedumy-black-50);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.data53,
.input22 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.input22 {
  cursor: pointer;
  border: 1px solid var(--portaluumedumy-black-50);
  padding: var(--padding-8xs) var(--padding-2xl);
  background-color: var(--portal5uumedumy-silver);
  flex: 1;
  box-shadow: 0 1px 0#999;
  border-radius: var(--br-7xs);
  white-space: nowrap;
}
.input22:hover {
  background-color: var(--color-darkgray);
  border: 1px solid var(--color-darkslategray-100);
}
.data53 {
  width: 222px;
  border: 1px solid var(--portal5uumedumy-silver1);
  box-sizing: border-box;
  padding: var(--padding-11xs) var(--padding-10xs) var(--padding-12xs)
    var(--padding-8xs);
}
.online {
  position: relative;
  display: inline-block;
  min-width: 41px;
}
.data54,
.user-fields {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.data54 {
  border: 1px solid var(--portal5uumedumy-silver1);
  padding: var(--padding-9xs) var(--padding-24xl);
}
.user-fields {
  align-self: stretch;
  max-width: 100%;
  row-gap: 20px;
}
.data55,
.input23 {
  flex: 1;
  max-width: 100%;
}
.input23 {
  border: 1px solid var(--portal5uumedumy-boulder);
  outline: 0;
  background-color: var(--portaluumedumy-nero);
  height: 24px;
  position: relative;
  box-sizing: border-box;
  min-width: 240px;
  z-index: 1;
}
.data55 {
  border: 1px solid var(--portal5uumedumy-silver1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-8xs) var(--padding-11xs);
  min-width: 268px;
}
.data55,
.data56,
.input24 {
  box-sizing: border-box;
}
.input24 {
  border: 1px solid var(--portal5uumedumy-boulder);
  outline: 0;
  background-color: var(--portaluumedumy-nero);
  height: 24px;
  flex: 1;
  position: relative;
  min-width: 64px;
  z-index: 1;
}
.data56 {
  width: 122px;
  border: 1px solid var(--portal5uumedumy-silver1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-7xs) var(--padding-12xs)
    var(--padding-6xs);
}
.select-role {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 58px;
}
.options2 {
  flex: 1;
  background-color: var(--portaluumedumy-nero);
  border: 1px solid var(--portal5uumedumy-boulder);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl);
  white-space: nowrap;
}
.data57,
.data58 {
  border: 1px solid var(--portal5uumedumy-silver1);
  box-sizing: border-box;
}
.data57 {
  width: 144px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs);
  z-index: 1;
}
.data58 {
  outline: 0;
  background-color: transparent;
  height: 30px;
  width: 146px;
  position: relative;
  z-index: 2;
}
.add-user {
  height: 10.4px;
  flex: 1;
  position: relative;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input25 {
  flex: 1;
  box-shadow: 0 1px 0#999;
  border-radius: var(--br-7xs);
  background-color: var(--portal5uumedumy-silver);
  border: 1px solid var(--portaluumedumy-black-50);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-2xl);
  white-space: nowrap;
}
.data59,
.data60 {
  border: 1px solid var(--portal5uumedumy-silver1);
  box-sizing: border-box;
}
.data59 {
  width: 222px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-12xs) var(--padding-11xs)
    var(--padding-6xs);
  z-index: 3;
  text-align: center;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
}
.data60 {
  height: 30px;
  width: 129px;
  position: relative;
  z-index: 4;
}
.user-fields1,
.user-row {
  display: flex;
  justify-content: flex-start;
}
.user-fields1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  row-gap: 20px;
  font-size: var(--portal5uumedumy-segoe-ui-bold-12-upper-size);
}
.user-row {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12xs-2);
  min-width: 764px;
}
.table7,
.user-data,
.user-row {
  align-items: flex-start;
  max-width: 100%;
}
.user-data {
  width: 1244px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 20px;
  text-align: left;
  color: var(--portaluumedumy-black-50);
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
}
.table7 {
  width: 1745px;
  background-color: var(--portaluumedumy-nero);
  border: 1px solid var(--portaluumedumy-black-50);
  box-sizing: border-box;
  padding: var(--padding-11xs) 0 var(--padding-28xl);
  gap: var(--gap-12xs-1);
  text-align: center;
  font-size: var(--portal5uumedumy-segoe-ui-regular-14-size);
  color: var(--portaluumedumy-nero);
  font-family: var(--portal5uumedumy-segoe-ui-bold-14-upper);
}
.background6,
.manage-account-page,
.table-parent,
.table7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.background6 {
  align-self: stretch;
  background-color: var(--portaluumedumy-nero);
  align-items: center;
  padding: var(--padding-8xs) var(--padding-xl) var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-8xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--portal5uumedumy-segoe-ui-bold-12-upper-size);
  color: var(--portaluumedumy-black-50);
}
.manage-account-page,
.table-parent {
  align-items: flex-start;
}
.table-parent {
  align-self: stretch;
  max-width: 100%;
  text-align: center;
  font-size: var(--text-size);
  color: var(--portal5uumedumy-tamarillo);
  font-family: var(--portal5uumedumy-segoe-ui-regular-14);
}
.manage-account-page {
  width: 100%;
  position: relative;
  overflow-y: auto;
  padding: 0 0 var(--padding-114xl-4);
  box-sizing: border-box;
  gap: var(--gap-10xl-6);
  background-image: url(./public/manage-account-page@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .body {
    padding-right: var(--padding-239xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .user-fields,
  .user-fields1 {
    flex-wrap: wrap;
  }
  .user-row {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .background4 {
    flex-wrap: wrap;
  }
  .body {
    padding-right: var(--padding-110xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .uum-school-of-container1 {
    font-size: var(--font-size-lgi);
  }
  .bannerportal-studentpng-parent {
    flex-wrap: wrap;
  }
  .home1,
  .user-id2,
  .user-name2 {
    font-size: var(--portaluumedumy-arial-narrow-15-size);
  }
  .home1 {
    line-height: 14px;
  }
  .list-of-accounts {
    font-size: var(--font-size-lgi);
  }
  .body,
  .cell14 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .cell14 {
    padding-left: var(--padding-xl);
  }
}
